In [11]:
import csv
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [13]:
#データの読み込み
df1 = pd.read_csv('allSuzuki2.csv')
df1.head()

   Unnamed: 0 name  likeDL  質問1  質問2  質問3  質問4
0           0  鈴木1       1    0    1    0    1
1           1  鈴木2       0    1    0    0    0
2           2  鈴木3       0    1    1    1    0
3           3  鈴木4       0    0    1    0    0
4           4  鈴木5       1    0    1    1    1

In [14]:
#目的変数の取得
Y = df1.likeDL
Y.head()

0    1
1    0
2    0
3    0
4    1
Name: likeDL, dtype: int64

In [15]:
#データの加工
X = df1.drop(['name','likeDL','Unnamed: 0'],axis=1)
X.head()

   質問1  質問2  質問3  質問4
0    0    1    0    1
1    1    0    0    0
2    1    1    1    0
3    0    1    0    0
4    0    1    1    1

In [17]:
#説明変数の取得
X_a = X[['質問1','質問2','質問3','質問4']].values

In [18]:
X_a

array([[0, 1, 0, 1],
       [1, 0, 0, 0],
       [1, 1, 1, 0],
       ...,
       [0, 1, 0, 1],
       [1, 0, 0, 1],
       [0, 0, 0, 1]])

In [19]:
#シグモイド関数の定義
def sigmoid(x):
    return 1/(1+np.exp(-x))

def sigmoid_der(x):
    return (1-sigmoid(x)) * sigmoid(x)

In [20]:
#初期値設定
lr = 0.5                           #学習率
w = np.array([0.1, 0.1, 0.1 ,0.1]) #重みは今回0.1で行います
h=0
y_hat=0
error=0
error_term=0
del_w=0

In [21]:
for var,ans in zip(X_a,Y):
    h = np.dot(var,w)                   #入力層の総和
    y_hat = sigmoid(h)                  #活性化関数への入力
    error = ans - y_hat                 #誤差
    error_term = error * sigmoid_der(h) #誤差項
    del_w = lr * error_term * var       #重みの更新値を測定
    w += del_w                          #wの値を更新

In [22]:
# 学習後の重みの結果
w

array([-0.94586414, -0.82308945, -0.98665868,  3.74839216])