In [16]:
import csv
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

In [18]:
df1 = pd.read_csv('allsuzuki2.csv')
df1.head()

   Unnamed: 0 name  likeDL  質問1  質問2  質問3  質問4
0           0  鈴木1       1    0    1    0    1
1           1  鈴木2       0    1    0    0    0
2           2  鈴木3       0    1    1    1    0
3           3  鈴木4       0    0    1    0    0
4           4  鈴木5       1    0    1    1    1

In [19]:
# 不要な行の削除
X = df1.drop(['name','Unnamed: 0'],axis=1)

In [20]:
#Nanが入ってる行を削除する
X_drop = X.dropna()
X_drop.head()

   likeDL  質問1  質問2  質問3  質問4
0       1    0    1    0    1
1       0    1    0    0    0
2       0    1    1    1    0
3       0    0    1    0    0
4       1    0    1    1    1

In [21]:
#目的変数
Y = X_drop.likeDL
Y.head()

0    1
1    0
2    0
3    0
4    1
Name: likeDL, dtype: int64

In [22]:
#説明変数
X_drop = X_drop.drop(['likeDL'],axis=1)
X_drop.head()

   質問1  質問2  質問3  質問4
0    0    1    0    1
1    1    0    0    0
2    1    1    1    0
3    0    1    0    0
4    0    1    1    1

In [23]:
# LogisticRegression
log_model = LogisticRegression()  #クラスのインスタンスを作成
log_model.fit(X_drop,Y)           #データを使ってモデルを作成

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
# モデルの精度
log_model.score(X_drop,Y)

1.0

In [25]:
# 変数名とその係数を格納するDataFrameを作成
coeff_df = DataFrame([X_drop.columns, log_model.coef_[0]]).T
coeff_df

     0         1
0  質問1 -0.355002
1  質問2 -0.181616
2  質問3 -0.233745
3  質問4   6.82964

In [26]:
#一部のデータを使って制度の検証を行う
X_train, X_test, Y_train, Y_test = train_test_split(X_drop, Y)
log_model2 = LogisticRegression()
log_model2.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
class_predict = log_model2.predict(X_test)
# 精度を計算してみます。
print(metrics.accuracy_score(Y_test,class_predict))

1.0