In [9]:
import csv
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [10]:
import math

#プロット用です
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# 機械学習用です。
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

# もう一つ、性能の評価用に
from sklearn import metrics

# エラーが出たら、セットアップをお願いします。
import statsmodels.api as sm

In [11]:
df1 = pd.read_csv('allsuzuki2.csv')
df1.head()

   Unnamed: 0 name  likeDL  質問1  質問2  質問3  質問4
0           0  鈴木1       1    0    1    0    1
1           1  鈴木2       0    1    0    0    0
2           2  鈴木3       0    1    1    1    0
3           3  鈴木4       0    0    1    0    0
4           4  鈴木5       1    0    1    1    1

In [5]:
# 名前の削除
X = df1.drop(['name'],axis=1)

In [6]:
#Nanが入ってる行を削除する
X_drop = X.dropna()
X_drop.head()

   Unnamed: 0  likeDL  質問1  質問2  質問3  質問4
0           0       1    0    1    0    1
1           1       0    1    0    0    0
2           2       0    1    1    1    0
3           3       0    0    1    0    0
4           4       1    0    1    1    1

In [7]:
Y = X_drop.likeDL
Y.head()   #目的変数

0    1
1    0
2    0
3    0
4    1
Name: likeDL, dtype: int64

In [8]:
X_drop = X_drop.drop(['likeDL'],axis=1)
X_drop.head() #説明変数

   Interest  toUse  investigate  pleasant
0         0      1            0         1
1         1      0            0         0
2         1      1            1         0
3         0      1            0         0
4         0      1            1         1

In [9]:
# LogisticRegressionクラスのインスタンスを作ります。
log_model = LogisticRegression() # fit_intercept=False, C=1e9) statsmodelsの結果に似せるためのパラメータ。

In [10]:
# データを使って、モデルを作ります。
log_model.fit(X_drop,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
# モデルの精度を確認してみましょう。
log_model.score(X_drop,Y)

1.0

In [12]:
# numpyのarrayなので、平均をすぐ計算できます。
Y.mean()

0.5090180360721442

In [13]:
# 変数名とその係数を格納するDataFrameを作ります。
coeff_df = DataFrame([X_drop.columns, log_model.coef_[0]]).T

In [14]:
coeff_df

             0         1
0     Interest -0.355002
1        toUse -0.181616
2  investigate -0.233745
3     pleasant   6.82964

In [15]:
# おなじく、train_test_splitを使います。
X_train, X_test, Y_train, Y_test = train_test_split(X_drop, Y)

# 新しいモデルを作ります。
log_model2 = LogisticRegression()

# 学習用のデータだけでモデルを鍛えます。
log_model2.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
# テスト用データを使って、予測してみましょう。
class_predict = log_model2.predict(X_test)

# 精度を計算してみます。
print(metrics.accuracy_score(Y_test,class_predict))

1.0